<!DOCTYPE html>
<html>

{{template "head" "Home"}}

<body class="hold-transition sidebar-mini">
  <div class="wrapper">

    {{template "navbar" .}}
    {{template "sidebar" .}}

    <div class="content-wrapper">

      <section class="content-header">
      </section>

      <section class="content">
        <div class="row">
          <div class="col-md-4">
            <div class="card card-success card-outline">
              <div class="card-header"><h5>个人信息</h5></div>
              <div class="card-body box-profile">
                <h3 class="profile-username text-center mt-4 mb-4">{{.username}}</h3>
                <hr>
                <h5>身份信息</h5>
                <table>
                  <tr>
                    <th width="50%">教工号</th>
                    <td>{{.profile.ID}}</td>
                  </tr>
                  <tr>
                    <th width="50%">职称</th>
                    <td>{{.profile.Position}}</td>
                  </tr>
                </table>
                <hr>
                <h5>联系方式</h5>
                <table>
                  <tr>
                    <th width="70%">邮箱</th>
                    {{if eq .profile.Email ""}}
                    <td>暂无</td>
                    {{else}}
                    <td>{{.profile.Email}}</td>
                    {{end}}
                  </tr>
                  <tr>
                    <th>手机号</th>
                    {{if eq .profile.Email ""}}
                    <td>暂无</td>
                    {{else}}
                    <td>{{.profile.Phone}}</td>
                    {{end}}
                  </tr>
                </table>
                <hr>
                <h5>数据统计</h5>
                <table>
                  <tr>
                    <th width="75%">授课数</th>
                    <td>{{.coursenum}}</td>
                  </tr>
                  <tr>
                    <th>学生平均成绩</th>
                    <td>100.00</td>
                  </tr>
                </table>
              </div>
              <div class="card-footer"></div>
            </div>
          </div>

          <div class="col-md-8">
            <div class="card card-success card-outline" style="height: 97%;">
              <div class="card-header"><h5>教学任务</h5></div>
              <div class="card-body table-responsive p-0">
                <table class="table table-bordered table-hover">
                  <tr>
                    <th>课程名</th>
                    <th>学分</th>
                    <th>已选人数/总人数</th>
                    <th>上课周次</th>
                    <th>上课时间</th>
                  </tr>
                  {{range .courses}}
                  <tr>
                    <td>{{.Name}}</td>
                    <td>{{.Credit}}</td>
                    <td>{{.SelectNum}} / {{.Capacity}}</td>
                    <td>{{.Sdate}}周 - {{.Edate}}周</td>
                    <td>{{.Day}} {{.Stime}} - {{.Etime}}</td>
                  </tr>
                  {{end}}
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /.content -->

    </div>
    <!-- /.content-wrapper -->

    {{template "footer" .}}
    <div class="control-sidebar-bg"></div>

  </div>
  <!-- ./wrapper -->

  {{template "scripts" .}}

</body>

</html>