{{define "head"}}
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=0.75">

  <title>Courselect | {{.}}</title>

  <link href="/static/css/AdminLTE-3.min.css" rel="stylesheet">

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
{{end}}

{{define "scripts"}}
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery.form.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

<script src="/static/js/adminlte-3.min.js"></script>
<script src="/static/js/courselect.js"></script>

<script>
  $(document).ready(function(){
    const Toast = Swal.mixin({
      showConfirmButton: false,
      timer: 2000
    });

    {{range .errors}}
    Toast.fire({
      type: 'warning',
      title: '{{ . }}'
    })
    {{end}}

    {{range .info}}
    Toast.fire({
      type: 'success',
      title: '{{ . }}'
    })
    {{end}}
  });
</script>
</script>
{{end}}

{{define "footer"}}
<footer class="main-footer">
  <div class="float-right d-none d-sm-block">
    <b>Version</b> 0.1.0
  </div>
  <strong>Courselect</strong>
</footer>
{{end}}