<!-- 

	Active levels:

  1 - Home

 -->

{{define "sidebar"}}
<aside class="main-sidebar sidebar-dark-success elevation-4" aria-hidden="true">

  <a href="/" class="brand-link">
    <img src="/static/img/icon.png" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">
      Courselect</span>
  </a>

  <div class="sidebar">
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-header">HOME</li>

        {{if eq .active 1}}
        <li class="nav-item"><a class="nav-link active" href="/home/">
            <i class="nav-icon fa fa-user"></i>
            <p>Personal information</p>
          </a></li>
        {{else}}
        <li class="nav-item"><a class="nav-link" href="/home/">
            <i class="nav-icon fa fa-user"></i>
            <p>Personal information</p>
          </a></li>
        {{end}}

      </ul>

    </nav>

  </div>

</aside>
{{end}}