<!DOCTYPE html>
<html>

{{template "head" "Dashboard"}}

<body class="hold-transition sidebar-mini">
  <div class="wrapper">

    {{template "navbar" .}}
    {{template "sidebar" .}}

    <div class="content-wrapper">

      <section class="content-header">
      </section>

      <section class="content">
        <div class="row">
          <div class="col-md-6">
            <div class="card card-success card-outline">
              <div class="card-header border-0">数据1</div>
              <div class="card-body">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card card-success card-outline">
              <div class="card-header border-0">数据2</div>
              <div class="card-body">
              </div>
            </div>
          </div>

        </div>
      </section>
      <!-- /.content -->

    </div>
    <!-- /.content-wrapper -->

    {{template "footer" .}}
    <div class="control-sidebar-bg"></div>

  </div>
  <!-- ./wrapper -->

  {{template "scripts" .}}

</body>

</html>